<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link href="styles.css" rel="stylesheet">
  </head>
</html>
<body>
  <h2>Edit <%= quote.name%></h2>
  <div>
    <p>
      <label for="name">Quote Name</label>
      <input type="text" id="name" name="name" value=<%= quote.name%>>
      <label for="name">Quote Status</label>
      <input type="text" id="status" name="status" value=<%= quote.status%>>
    </p>
  </div>
</body>