<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link href="styles.css" rel="stylesheet">
  </head>
</html>
<body>
  <div>
    <p>
      Hello, <%= context.user.fullName %>
    </p>
  </div>
</body>