<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link href="styles.css" rel="stylesheet">
  </head>
</html>
<body>
  <h2>Edit <%= quote.name%></h2>
  <div>
    <p>
      
    </p>
  </div>
</body>